Package: ml.festival.proudlock
Name: ProudLock
Depiction: https://repo.festival.ml/depiction/ml.festival.proudlock
Depends: mobilesubstrate, firmware (>= 11.0)
Conflicts: gsc.main-screen-width (= 1125), gsc.main-screen-height (= 2436)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Be proud of that lock!
Maintainer: Sniper_GER <sniperger@festival.ml>
Author: Sniper_GER <sniperger@festival.ml>
Section: Tweaks
compatible_min::11.0
compatible_max::11.3.1
